{#
/**
 * @file
 * View template to display a list as a carousel.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - rows: The rendered rows.
 *
 * @see template_preprocess_jcarousel_view()
 *
 * @ingroup themeable
 */
#}
<div class="jcarousel-wrapper">
  <div{{ attributes }}>
    <ul>
      {% for row in rows %}
        <li>
          {{ row }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

