{#
/**
 * @file jcarousel-view.tpl.php
 * View template to display a list as a carousel.
 */
#}
<div class="jcarousel-wrapper">
  <div class="{{ jcarousel_classes }}">
    <ul>
      {% for row in rows %}
        <li>
          {{ row }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

